@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=M+PLUS+Rounded+1c&family=Nabla&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 41);
  font-family: "M PLUS Rounded 1c", sans-serif;
}

h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

ul {
  list-style: none;
}

#main-content {
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.likes-count {
  color: white;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

.row {
  width: 100%;
}

.life-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

.life-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.life-img::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(27, 27, 41);
  opacity: 0.5;
}

.life-img::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(27, 27, 41, 0.5),
    rgba(27, 27, 41, 0.5)
  );
}
